body{
  background-color: #eeeeee;
}
h1{
  color: blue;
}
h1 input{
  font-size: 30px;
  height: 30px;
}
button{
  background-color: #ff4500;
  border: black solid 1px;
  border-radius: 5px;
  width: 150px;
  height: 50px;
}
a{
  text-decoration: none;
  color: #1eb368;
}